
.footer{
  color:#FAFAFA;
  /*position: fixed;*/
  bottom: 0px;
  margin-bottom: 0px;
  text-align: center;
}


main {
	background: #303F9F;
	color: #FAFAFA;
}


.flip{
  transform: rotateX(360deg);
  transition: transform .3s;
}


.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
