
main {
	background: #303F9F;
	color: #FAFAFA;
}

.wrapper{
  color:#fafafa;
  font-family: robota;
  font-size: 75px;

  text-align: center;
}


.flip{
  transform: rotateX(360deg);
  transition: transform .3s;
}


.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
