
.wrapper{
  color:#FAFAFA;
/*  font-family: sans-serif; */
  font-size: 75px;

  text-align: center;
}


main {
	background: #303F9F;
	color: #FAFAFA;
}


.flip{
  transform: rotateX(360deg);
  transition: transform .6s;
}


.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path{
	fill: #FAFAFA;
}
