html,
body {
	padding: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	scroll-behavior: smooth;
	overflow: hidden;
	background: #000000;
}

main {
	text-align: center;
	color: #FAFAFA;
}

.icons-social a {
	color: #FAFAFA;
}

.icons-social a svg path {
	fill: #FAFAFA;
}

.wrapper {
	color: #fafafa;
	font-family: sans-serif;
	font-size: 35px;
	text-align: center;
}

.flip {
	transform: rotateX(360deg);
	transition: transform .6s;
}

main>.tag-line {
	position: relative;
	/*font-size: 1.5rem; */
	margin: 1.5rem 0;
	font-weight: 100;
	text-align: center;
	white-space: nowrap;
	overflow: hidden;
	/*	animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;*/
}


/* Typography */

html {
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 576px) {
	html {
		font-size: 14px;
	}
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.icons-social i {
	font-size: 2.5em;
}

header {
	width: 100vw;
	height: 50px;
	position: relative;
}

.toggle {
	border: none;
	background-color: transparent;
	font-size: 25px;
	cursor: pointer;
	padding: 15px;
	position: absolute;
	right: 0;
}


/* Custom Styles */

main {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	justify-content: center;
	padding: 0 30px;
	text-align: center;
}

main>.intro {
	font-family: 'Reem Kufi', sans-serif;
	font-size: 3.75em;
	font-weight: 600;
}

.icons-social i {
	padding: 8px;
}

.devto {
	margin-bottom: -0.20rem;
}

.devto svg {
	margin-bottom: -0.20rem;
	margin-left: 0.675rem;
	;
	width: 2.5rem;
	height: 2.5rem;
}
